.container {
    background-color: rgba(146, 146, 146, 0.8);
    box-sizing: border-box;
    padding: 2%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 510px;
}

.heading {
    display: flex;
    /* height: 20%; */
    /* align-items: center; */
    font-size: 20px;
    justify-content: center;
}
.heading h1 {
    font-family: serif;
}

.chart-container {
    opacity: 1;
    /* height: 70%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

canvas {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}