body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/welcome.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    float: left;
}

.top-nav {
    width: 100%;
}

.row {
    display: flex;
}

.main-nav {
    list-style: none;
    margin-top: 30px;
    float: right;
}

.main-nav li {
    display: inline-block;
}

.nav-button {
    border: 1px solid white;
    color: white;
    text-decoration: bold;
    font-family: 'Gill Sans';
    padding: 5px 20px;
    background: black;
    opacity: 0.7;
}

.nav-button:hover {
    background-color: rgba(150, 150, 150, 0.3);
    color: white;
    opacity: 1;
}

.side-nav {
    width: 15%;
    position: relative;
    float: left;
}

#side-nav {
    position: relative;
    margin-left: 0px;
    margin-top: 2%;
    display: inline-block;
}

.content {
    width: 85%;
    position: relative;
    float: right;
}

#content {
    position: relative;
    margin-top: 2%;
    width: 85%;
    display: inline-block;
}