.inventoryListDiv {
    overflow: scroll;
    height: 100%;
}

.inventoryListDiv h1 {
    margin: 0px;
    padding: 5px;
    margin-top: 10px;
    font-family: serif;
}

.inventoryTable {
    width: 100%;
    border-bottom-left-radius: 3px;
    border-collapse: collapse;
    border-bottom-right-radius: 3px;
}

.newInventory {
    border-radius: 5px;
    margin: 10px 0 10px 0;
    float: left;
    background: #cecdcd;
    height: 25px;
    font-weight: 550;
    color: #2c2c2c;
}

.newInventory:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: whitesmoke;
    color: black;
}

.tableBody tr, .inventoryTable th {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #202020;
    font-family: sans-serif;
}

.inventoryTable th {
    background-color: #b4b4b4;
    text-align: center;
}

.tableBody tr {
    background-color: #999999;
    border-bottom: #2c2c2c;
}

.inventoryTable td {
    padding: 5px;
    padding-left: 5%;
    border: 1px solid #202020;
}

.tableBody tr:hover {
    background-color: #ddd;
}