.inboundListDiv h1 {
    margin: 0px;
    padding: 5px;
    margin-top: 10px;
    font-family: serif;
    background-color: #dfdfdf;
    border-top-color: #a5a5a5;
}

.inboundTable {
    width: 100%;
    border: 3px solid #a5a5a5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.inboundListDiv {
    overflow: scroll;
    height: 100%;
}

.newInbound {
    border-radius: 5px;
    margin: 10px;
    float: left;
    background: #cecdcd;
    height: 25px;
    font-weight: 550;
    color: #2c2c2c;
}

.newInbound:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: whitesmoke;
    color: black;
}

.tableBody tr, .inboundTable th {
    padding: 8px;
    border-collapse: collapse;
    font-family: sans-serif;
}

.inboundTable th {
    background-color: #b4b4b4;
    text-align: center;
}

.tableBody tr {
    background-color: #999999;
    border-bottom: #2c2c2c;
}

.inboundTable td {
    padding: 5px;
    padding-left: 5%;
}

.tableBody tr:hover {
    background-color: #ddd;
}