.newInventoryContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container button {
    border-radius: 5px;
    height: 30px;
}

.newInventoryContainer #back {
    float: right;
}

#newInventoryError {
    color: rgb(163, 3, 3);
}

.newItemInputs {
    display: flex;
    flex-direction: column;
}

.itemDiv {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
}

.itemDiv input {
    margin: 10px 10px 5px 5px;
}

.addItem {
    margin: 0;
}

.deleteItem {
    margin-left: 10px;
}

.itemInputField {
    overflow: visible;
}

.itemInputs {
    overflow: scroll;
    height: 100%;
    padding: 5px;
    margin-top: 20px;
}

.newInventoryContainer span{
    margin: 5px;
    font-size: 18px;
}

.newItemInputs input {
    height: 25px;
    border-radius: 4px;
}

.form input {
    width: 20%;
    min-width: 100px;
    padding: 1%;
    height: 25px;
    border-radius: 10px;
}

.form {
    margin: 5px;
}