body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/welcome.jpg');
    height: 97%;
    background-size: cover;
    background-position: center;
}

* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    font-family: serif;
    margin-top: 10px;
    padding: 5px;
}

button {
    cursor: pointer;
}

input {
    border-style: none;
    padding: 10px;
}

/* input:focus {
    outline-style: none;
} */

input::placeholder {
    color: #525252;
}

.logo {
    width: 18%;
}

.logo img {
    width: 40%;
    min-width: 50px;
    height: auto;
    border-radius: 50%;
    margin: 7% 30% 0 30%;
    float: left;
}

.top-nav {
    width: 100%;
}

.main-nav {
    list-style: none;
    margin-top: 30px;
    float: right;
}

.main-nav li {
    display: inline-block;
}

.main-nav button {
    border: 1px solid white;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px 20px;
    background: black;
    opacity: 0.7;
}

.row {
    display: flex;
}

.side-nav {
    margin-top: 3%;
    width: 15%;
    min-width: 100px;
    position: relative;
    padding: 0;
    height: 75%;
}

#side-nav {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    display: inline-block;
}

.side-nav button {
    border: 0 solid;
    color: white;
    font-weight: 590;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    margin-left: 0;
    height: 10%;
    min-height: 30px;
}

.side-nav ul {
    list-style: none;
    margin-left: 0;
    margin-top: 5%;
    padding: 0;
}

.top-nav button:hover, .side-nav button:hover {
    background-color: rgba(150, 150, 150, 0.3);
    color: white;
    opacity: 1;
}

.side-nav button:focus {
    outline-style: none;
    background: grey;
}

.content {
    height: 88%;
    width: 84%;
    position: relative;
    float: right;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.container {
    background-color: rgba(146, 146, 146, 0.8);
    box-sizing: border-box;
    padding: 2%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: 99%;
    width: 100%;
    min-width: 605px;
    overflow: auto; 
}

#errorMessage {
    color: rgb(163, 3, 3);
}

.container button {
    border-radius: 3px;
    height: 30px;
    border-style: none;
}

.container Button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: whitesmoke;
    color: black;
}

.back {
    background: #cecdcd;
    width: 60px;
    font-weight: 550;
    color: #2c2c2c;
    float: right;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: move;
}