.welcome {
    position: relative;
    margin-top: 12%;
    margin-left: 1%;
}

.welcomeUser {
    color: rgb(168, 154, 126);
    text-shadow: 2px 2px #272727;
    font-size: 70px;
    text-align: center;
}