#welcome {
    position: absolute;
    margin-top: 12%;
    text-align: center;
    width: 100%;
}

.welcomeUser {
    color: rgb(168, 154, 126);
    text-shadow: 2px 2px #272727;
    font-size: 70px;
    font-family: serif;
}