body {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/welcome.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login {
    width: 23%;
    height: 60%;
    
    background: rgb(169,169,169,0.5);
    box-sizing: border-box;
    position: absolute;
    box-align: center;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 38%;
    padding: 50px 30px;
}

.login input {
    margin-bottom: 20px;
    height:10%;
    width:90%;
    border-radius: 5px;
    border: 1px solid black;
}

.login button {
    margin-left: 30%;
    height:12%;
}

h3 {
    color: rgb(168, 154, 126);
    text-shadow: 2px 2px #272727;
    margin: 0px;
    font-size: 40px;
    text-align: center;
}

.main-nav {
    /* background-color: #555; */
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans';
    padding: 5px 20px;
}

.main-nav li.active a {
    border: 1px solid white;
}

.nav {
    float:right;
}
.main-nav li a:hover {
    border: 1px solid white;
}

.logo img {
    min-width: 0px;
    /* max-width: 150px; */
    
    width:10%;
    height: auto;
    border-radius: 50%;
    float: left;
}