#currentStockData {
    height: 90%;
    overflow: scroll;
}

#currentStockSection h1 {
    margin: 0px;
    font-size: 30px;
    padding: 6px;
    margin-top: 10px;
    font-family: serif;
}

.currentStockTable {
    display: flex;
    border-collapse: collapse;
    border: 1px solid black;
    text-transform: capitalize;
    width: 100%;
    display: table;
}

.currentStockTable tr {
    background-color: #c5c5c5;
    border-bottom: 1pt solid black;
}

.currentStockTable td {
    border-collapse: collapse;
    vertical-align: top;
    padding: 5%;
    margin-left: 20%;
}

.currentStockTable #subcategory {
    padding-left: 0;
}